header.page-header {
  background-color: #f8f8f8;
  margin: 0;
  padding: 15px 0;
  .logo {
    display: block;
    width: 300px;
    height: 51px;
    background: url("../img/logo.png");
  }
  h1.access-header {
    font-size: 1px;
    position: absolute;
    left: -99999px;
    visibility: hidden;
    margin: 0;
  }
}